<app-top-nav></app-top-nav>
<app-nav></app-nav>
<header>
  <h1>Hot Deals</h1>
  <app-search></app-search>
  <div class="d-flex">
    <div class="card cd">
      <img [src]="img_burger" class="card-img-top" alt="burger">
      <div class="card-body">
        <h5 class="card-title">Burger</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Buy</a>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>

    <div class="card cd">
      <img [src]="img_burger" class="card-img-top" alt="burger">
      <div class="card-body">
        <h5 class="card-title">Burger</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Buy</a>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>

  </div>
</header>
<app-main-page></app-main-page>
<app-cookie-alert></app-cookie-alert>