<div class="pt-4">
  <span class="mr-4">Select Only: </span>
  <label for="food">
    <input type="radio" name="food" id="food" />
    {{ "All(" + all + ") " }}
  </label>
  <label for="food">
    <input type="radio" name="food" id="food" />
    {{ "food(" + food + ") " }}
  </label>
  <label for="food">
    <input type="radio" name="pizza" id="pizza" />
    {{ "pizza(" + pizza + ") " }}
  </label>
  <label for="food">
    <input type="radio" name="drink" id="food" />
    {{ "Drinks(" + drinks + ") " }}
  </label>
  <label for="food">
    <input type="radio" name="others" id="others" />
    {{ "others(" + others + ") " }}
  </label>
</div>
