<h2>Food available</h2>
<div *ngFor="let p of products" class="d-flex flex">
  <div class="card cd">
    <img [src]="p.productImg" class="card-img-top" alt="burger">
    <div class="card-body">
      <h5 class="card-title">{{p.productName}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Buy</a>
      <a href="#" class="btn btn-primary">{{p.productPrice}}</a>
    </div>
  </div>
</div>
